<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceBarBeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A234B161D8A1C6D00F3EE21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A53013D1C5AD6A6008D584B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD0F42E1C7CF71800AEF928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE13B4C1DF0D148008612DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
